* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background: #fff url('../images/background.png');
  display: flex;
  font: normal 16px 'Montserrat', sans-serif;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);
  border: 2px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 50px #ccc;
  margin: 0 10px;
  max-width: 500px;
  padding: 50px 50px 30px;
  text-align: center;
}

.image-title {
  margin-bottom: 30px;
  max-width: 100%;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}

.join-form {
  margin-top: 30px;
  position: relative;
}

.field,
.submit {
  appearance: none; -webkit-appearance: none;
  border-radius: 50rem;
  font: normal 16px 'Montserrat', sans-serif;
}

.field {
  background-color: #eee;
  border: 2px solid #fff;
  font-style: italic;
  outline: none;
  padding: 15px;
  transition: box-shadow 250ms;
  width: 100%;
}

.field:focus {
  box-shadow: 0 0 0 1px #7FDBFF;
}

.field#slack-email {
  padding-right: 90px;
}

.field + .field {
  margin-top: 15px;
}

.submit {
  background-color: #ccc;
  border: 0;
  bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 12px;
  position: absolute;
  right: 15px;
  transition: background-color 250ms;
}

.submit:hover {
  background-color: #fff;
}

.message {
  border: 1px solid #999;
  border-radius: 3px;
  color: #777;
  padding: 10px;
}

.error {
  border-color: #fE7070;
  color: #fE7070;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 15px;
  }

  .field + .field {
    margin-top: 5px;
  }
}
